<!-- 共用模版 -->
<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>台灣水果旅行-{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="">
    <meta name="keywords" content="台灣水果旅行,四季水果,季節水果,水果,採果,果樹認養,果樹,認養,水果伴手禮,伴手禮">
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="bookmark" href="images/favicon.ico" />
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="台灣水果旅行">
    <meta itemprop="description" content="臺灣素有「水果王國」的美譽，水果種類豐富，一年四季皆可嘗到鮮甜可口的水果，走趟寶島，讓我們一起享受臺灣水果帶來幸福、健康、新鮮的好滋味！">
    <meta itemprop="image" content="">
    <!-- Open Graph Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="台灣水果旅行" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="臺灣素有「水果王國」的美譽，水果種類豐富，一年四季皆可嘗到鮮甜可口的水果，走趟寶島，讓我們一起享受臺灣水果帶來幸福、健康、新鮮的好滋味！" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <!-- 主視覺css -->
    <link href="css/style.css" rel="stylesheet">
    <!-- js核心 -->
    <script src="js/vendor.js"></script>
</head>

<body>
    <div id="page" class="site">
        <header id="gotoheader">
            {% block navigation %} {% endblock %}
        </header>

        <!-- 手機版選單Start -->
        <!-- 手機版選單End -->

        <!-- 主內容Start -->
        {% block content %} {% endblock %}
        <!-- 主內容End -->

        <!-- 置頂 -->
        <div class="goTop">
                <a href="#gotoheader">
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    <span>TOP</span>
                </a>
            </div>

        <!-- Footer -->
        <footer>
        </footer>
    </div>
    <!-- js 載入 -->

</body>
</html>
