<!-- <!DOCTYPE html> <html lang="en"> <head> <meta charset="UTF-8"> <meta name="viewport" content="width=device-width, initial-scale=1.0"> <meta http-equiv="X-UA-Compatible" content="ie=edge"> <link rel="stylesheet" href="css/style.css">
<title>Document</title> </head> <body> <p>測試123</p> <i class="fa fa-facebook" aria-hidden="true"></i> </body> </html> -->

<!-- index.nunjucks -->
{% extends "layout.html" %}
<!--TITLE setting-->
{% block title %}
  外框頁
{% endblock %}
<!--Nav setting-->
{% block navigation %}
  {% import 'macros/nav.html' as nav %}
  <!-- Set navitem to active -->
  {{nav.active('index')}}
{% endblock %}
{% block content %}
  <div class="container">
    這裡塞內頁內容區塊
    <div class="row">
      <div class="col-md-4">RRRRR</div>
      <div class="col-md-4">RRRRR</div>
      <div class="col-md-4">RRRRRQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQ</div>
    </div>
  </div>
{% endblock %}
