@charset "UTF-8";


// Requirements
// ============

// [mobile first] 的關係所以我們要以手機優先的思維來做設計

// 引用susy全域參數

// @import "breakpoint";

//使用 map setting
$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 4,
  gutters: 1/3,
  column-width: 80px,  //這裡使用固定柵欄寬度，預設是 false
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,  //開發時使用show可看到柵欄，使用hide關閉柵欄顯示
    color: rgba(#A1A1A1, .25),
    output: overlay,  // background 柵欄出現在背景 | overlay 出現浮動鈕，移過去才會顯示柵欄
    toggle: top left,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);


//設定三種尺寸
$mobile_break   : 0px;
$mobile_layout  : 4;

$pad_break      : 640px;
$pad_layout     : 8;

$desktop_break  : 1024px;
$desktop_layout : 12;

$w_desktop_break  : 1200px;
$w_desktop_layout : 12;

//
// 自訂一個mixin, 快速依照版面顯示不同的 style
//
// @type string    mobile | pad | desktop
//
@mixin _break($break:mobile) {
    @if ($break=="mobile") {
        //套用 _grids2.scss 所設定的斷點px 與 柵欄數
        @include susy-breakpoint($mobile_break, $mobile_layout) {
            @content;
        }
    }
    @else if ($break=="pad") {
        @include susy-breakpoint($pad_break, $pad_layout) {
            @content;
        }
    }
    @else if ($break=="desktop") {
        @include susy-breakpoint($desktop_break, $desktop_layout) {
            @content;
        }
    }
    @else if ($break=="w_desktop") {
        @include susy-breakpoint($w_desktop_break, $w_desktop_layout) {
            @content;
        }
    }
}

* {
    //CSS3的功能，建議所有元素都使用吧！
    @include box-sizing(border-box);
}

html,
body {
    // height: 100%;
}

.grid{
  &-left-2 {
    @include _break(mobile) {
        @include span(4 of 4);
    }
    @include _break(desktop) {
        @include span(2 of 12);
    }
  }
  &-left-3 {
    @include _break(mobile) {
        @include span(4 of 4);
    }
    @include _break(desktop) {
        @include span(3 of 12);
    }
  }
  &-left-4 {
    @include _break(mobile) {
        @include span(4 of 4);
    }
    @include _break(desktop) {
        @include span(4 of 12);
    }
  }
  &-left-5 {
    @include _break(mobile) {
        @include span(4 of 4);
    }
    @include _break(desktop) {
        @include span(5 of 12);
    }
  }
  &-left-6 {
    @include _break(mobile) {
        @include span(4 of 4);
    }
    @include _break(desktop) {
        @include span(6 of 12);
    }
  }
  &-left-7 {
    @include _break(mobile) {
        @include span(4 of 4);
    }
    @include _break(desktop) {
        @include span(7 of 12);
    }
  }
  &-left-8 {
    @include _break(mobile) {
        @include span(4 of 4);
    }
    @include _break(desktop) {
        @include span(8 of 12);
    }
  }
  &-left-9 {
    @include _break(mobile) {
        @include span(4 of 4);
    }
    @include _break(desktop) {
        @include span(9 of 12);
    }
  }
  &-left-10 {
    @include _break(mobile) {
        @include span(4 of 4);
    }
    @include _break(desktop) {
        @include span(10 of 12);
    }
  }
  &-right-2 {
    @include _break(mobile) {
        @include span(4 of 4);
    }
    @include _break(desktop) {
        @include span(2 of 12);
        @include last;
    }
  }
  &-right-3 {
    @include _break(mobile) {
        @include span(4 of 4);
    }
    @include _break(desktop) {
        @include span(3 of 12);
        @include last;
    }
  }
  &-right-4 {
    @include _break(mobile) {
        @include span(4 of 4);
    }
    @include _break(desktop) {
        @include span(4 of 12);
        @include last;
    }
  }
  &-right-5 {
    @include _break(mobile) {
        @include span(4 of 4);
    }
    @include _break(desktop) {
        @include span(5 of 12);
        @include last;
    }
  }
  &-right-6 {
    @include _break(mobile) {
        @include span(4 of 4);
    }
    @include _break(desktop) {
        @include span(6 of 12);
        @include last;
    }
  }
  &-right-7 {
    @include _break(mobile) {
        @include span(4 of 4);
    }
    @include _break(desktop) {
        @include span(7 of 12);
        @include last;
    }
  }
  &-right-8 {
    @include _break(mobile) {
        @include span(4 of 4);
    }
    @include _break(desktop) {
        @include span(8 of 12);
        @include last;
    }
  }
  &-right-9 {
    @include _break(mobile) {
        @include span(4 of 4);
    }
    @include _break(desktop) {
        @include span(97 of 12);
        @include last;
    }
  }
  &-right-10 {
    @include _break(mobile) {
        @include span(4 of 4);
    }
    @include _break(desktop) {
        @include span(10 of 12);
        @include last;
    }
  }
}