@charset "UTF-8";
// susy 語法速記
// @include container() //渲染
// @include span($span) //指定所需柵欄數量
// @include gutter($span) //對應當總柵欄數量的1 gutter 寬度
// @include pre($span) //margin-left
// @include post($span) //margin-rigt
// @include squish($pre, $post) //同時使用 margin-left margin-rigt
// @include pull() // margin-left: -$span(負值)
// @include prefix()、suffix()、pad() // padding
// @include bleed()、bleed-x()、bleed-y() // 出血
// Compass css3 快速語法
// @include break;  強制換行
// @include last; 指定為最後的元素。
// @include border-radius(px);
// @include gallery(4 of 12);
// gutter()
// 裡面不帶任何數字，
// 該function會使用當前的gutter寬度(柵欄之間的溝寬),
// 如果當前12柵欄，就返回12柵欄的1個gutter寬度
// @include full
// 全部柵欄。一種 span(full) 的簡寫。
// ---------------------RWD全域設定開始------------------------>
// ================撰寫方式=================>>
// .aa {
//     共用樣式寫入
//     @include _break("mobile") {}
//     @include _break("pad") {}
//     @include _break("desktop") {}
// }
// ================撰寫方式end=================>>
* {
    font-weight: normal;
    font-style: normal;
    @include transition;
    &:hover {
        @include transition;
    }
}
*, *:before, *:after {
  box-sizing: border-box;
}
img {
    height: auto;
    max-width: 100%;
}

// susy 設定
// 整體寬度
.container {
    @include _break("mobile") {
        @include container();
        // height: 100%;
        @include pad(1rem);
    }
    @include _break("pad") {
        @include container();
    }
    @include _break("desktop") {
        @include container();
    }
    @include _break("w_desktop") {
        @include container();
    }
}
.container{
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &.after{
        clear: both;
    }
}


// 清除 浮動
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    /*For IE 6&7 only*/
}

.txt-c {
    text-align: center;
}
.txt-l {
    text-align: left;
}
.txt-r{
    text-align: right;
}
.Right {
    float: right;
}
.Left {
    float: left;
}


//============================
//基本頁面
html {
    height: 100%;
    width: 100%;
}

body {
    color: $text-color;
    font-family: $font-style;
    font-size: $font-size;
    letter-spacing: $font-letter;
    line-height: $line-height;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.site{
    //display: flex; 會影響banner slider
    min-height: 100vh;
    //flex-direction: column;
    height: 100%; //fix ie
    background-color: #fff;
}
.war {
    //  Set `flex-shrink` to `0` to prevent some browsers from
    // letting these items shrink to smaller than their
    // content's default minimum size.
    flex: 1 0 auto;
    padding-bottom: 10px;
}
a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: $main-color-01;
        text-decoration: underline;
    }
}
p{
    padding: 0;
    margin: 0;
    line-height: 1.8;
}
h1{
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 4px;
}

h3{
    font-weight: bold;
    letter-spacing: 4px;
}
input {
    padding: 5px;
    outline: none;
    //border-radius: 3px;
    border: solid 1px #ccc;
    &:hover{
        border-color: darken(#ccc, 20%);
    }
}

hr {
    border: 0; 
    height: 1px;
    background-color: #e3e3e3;
}

header {
    width: 100%;
    flex: none; //fix footer
}

// 圖片遮罩
.bg-overlay {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

//footer
footer{
    background: #f1f1f1;
    width: 100%;
    overflow: hidden;
    padding: 40px 0 40px 10px;
    .fb-block{
        @include span(12 of 12);
    }
    .footer-info{
        text-align: left;
        @include span(12 of 12);
        @include last;
        font-size: 0.86em;
        line-height: 2.4;
        padding: 20px 0 0 0;
        .copright{
            color: #989898;
            margin-top: 30px;
        }
        i{
            padding-right: 10px;
        }
    }
    @media all and (min-width: 768px) {
        padding: 40px 0;
        .fb-block{
           @include span(6 of 12);
           text-align: right;
        }
        .footer-info{
           @include span(6 of 12);
           @include last;
        }
    }
}