@charset "UTF-8";
// 常用scss片段
// 文字隱藏
@mixin text-hide() {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

@mixin text-long-hide() {
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}

@mixin transition() {
    transition: color 0.2s ease-in;
}

@mixin background-img() {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

//隨機背景色
@mixin rand_bg() {
    background: rgba(random(255), random(255), random(255), 0.7);
}

@mixin fa() {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
