@charset "UTF-8";
//hedaer
header {
    position: fixed;
    background: rgba(255, 255, 255, 0.9);
    z-index: 10;
    height: 60px;
    @include _break(pad) {
        background: none;
        position: absolute;
        z-index: 10;
        width: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

// logo
.logo {
    position: absolute;
    left: 10px;
    top: 6px;
    a {
        @include text-hide;
        width: 80px;
        height: 48px;
        display: block;
        margin: 0 auto;
    }
    @include _break(pad) {
        top: 30px;
        right: 0;
        padding: 0;
        margin: 0 auto;
        a{  
            width: 140px;
            height: 84px;
        }
    }
}

// 最上方連結
.top-nav {
    text-align: right;
    position: relative;
    margin: 30px 0 0 0;
    display: none;
    @include _break(pad) {
        display: block;
        a {
            > i {
                color: #fff;
                font-size: 20px;
                transition: transform 0.15s linear;
                &:hover {
                    color: #fff;
                    transform: scale(1.4);
                }
            }
            padding: 0 5px;
            &:hover {
                text-decoration: none;
                color: $link-color-hover;
            }
        }
    }
}

// 主選單
.main-nav {
    text-align: center;
    margin: 90px auto 0 auto;
    position: relative;
    display: none;
    @include _break(pad) {
        display: block;
        ul {
            display: inline-block;
            margin: 0 10px;
            padding: 0;
        }
        li {
            display: inline-block;
            list-style: none;
            padding: 0 15px;
            a {
                color: #fff;
                font-weight: bold;
                letter-spacing: 2px;
                &:hover {
                    text-decoration: none;
                    color: rgba(0, 0, 0, .7);
                }
            }
        }
        &:before,
        &:after {
            border-top: 1px solid #fff;
            content: "";
            margin: 0 auto;
            display: inline-block;
            width: 50px;
            vertical-align: middle;
        }
    }
}

// page nav
#page-header{
  .main-nav{
    &:after{
      border-top: 1px solid #000;
    }
    &:before{
      border-top: 1px solid #000;
    }
  }
  a{
    color: #000;
    &:hover{
      color: #888;
    }
    i{
      color: #000;
    }
  }
}

// 手機版選單
$color-background: #F5F5F5;
$color-main: #000;
$color-active: #fff;
$color-link: #fff;

$button-height: 27px;
$button-width: 30px;

.button_container {
  position: fixed;
  top: 20px;
  right: 2%;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 501;
  transition: opacity .25s ease;
  @include _break(pad) {
    display: none;
  }
  &:hover {
    opacity: .7;
  }
  
  &.active {
    .top {
      transform: translateY(9px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }
    
    .bottom {
      transform: translateY(-9px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }
  
  span {
  background: $color-main;
  border: none;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;
    
    &:nth-of-type(2) {
      top: 9px;
    }
    
    &:nth-of-type(3) {
      top: 18px;
    }
  }
}

.mobile-overlay {
  position: fixed;
  background: rgba(0,0,0,0.80);
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  
  &.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
    z-index: 500;
    .top-nav{
        display: inline-block;
        text-align: left;
        font-size: 0.56em;
        a{
            color: #ddd;
            line-height: 2.8;
            i{
                background: #000;
                border-radius: 50px;
                padding: 8px 8px;
                width: 34px;
                text-align: center;
                margin-right: 10px;
            }
        }
    }
    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
      
      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8em;
    font-weight: 400;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; 
    
    li {
      display: block;
      // height: 15%;
      // height: calc(100% / 7);
      min-height: 80px;
      position: relative;
      opacity: 0;
      
      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;
        
        &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }
        
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $color-link;
          transition: .35s;
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}