// 這檔案是測試 susy & compass 有無安裝正常
// 檔名拿掉_  即可測試

body {
  background-color: #fff;
}
// ===必要加入引入區塊
@import "./bower_components/susy/sass/susy";
@import "./bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "./bower_components/compass-sass-mixins/lib/compass";
// ===必要加入引入區塊

$susy: (
  columns: 16,
  container: 1140px,
  gutters: 0.25,
  global-box-sizing: border-box,
  debug: (image: show-columns)
);

.testing {
  @include span(12);
}

.testing2 {
  @include span(2);
  margin-left: span(4);
}

.testing3 {
  @include span(2);
  margin-left: span(6);
  @include breakpoint(20em) {
    @include span(4);
    margin-left: span(3);
  }
}
// @import "compass/css3";

.box-shadow-example div {
  width: 40px;
  height: 40px;
  background: #eeeeee;
  margin: 20px;
  float: left;
}
// // Default single box shadow

#box-shadow-default {
  @include single-box-shadow;
}
// Box shadow with custom settings

#box-shadow-custom {
  @include box-shadow(red 2px 2px 30px);
}

#box-shadow-custom-multiple {
  @include box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);
}
// 這裡是測試前餟補齊

.test {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 5px;
  transform: rotate(45deg);
  box-shadow: 1px 1px 0 rgba(0,0,0,.25);
  transition: all 0.2s ease 0.1s;
}
