@charset "UTF-8";

//預設文字顏色
$text-color: #000000;

//文字連結樣式，多則就再加數字
$link-color-hover: #5A6B42;

//全域字型大小，如一網站有多種就下多種字型
$font-style: "微軟正黑體", "STHeiti", "Heiti TC", Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-size: 1em;
$line-height: 1.8;
$font-letter:1px;


//網站整體寬度
$container-width: 1200px;


// 數值統一
$num:10px;


// 主色
$main-color-01:#5A6B42;
$main-color-02:#4A4A4A;
$main-color-03:#FF7775;
$main-color-04:#FFF;

//btns
.btn {
	color: $text-color;
	font-size: inherit;
	text-align: center;
	min-width: 120px;
	padding: 10px 40px;
	background-color:$main-color-04;
	border: 1px solid $text-color;
	outline: none;
	display: inline-block;
	> i{
		padding-left: 10px;
		transition: none;
	}
	&:hover{
		text-decoration: none;
		background-color: darken($text-color, 10);
		color: $main-color-04;
		transition: all .2s ease-in;
	}
	&:active{
		text-decoration: none;
		background-color: darken($text-color, 15);
		color: $main-color-04;
		transition: all .2s ease-in;
	}
	&.sm{
		font-size: 1em;
		line-height: 1.5;
		min-width: 100px;
		padding: 10px;
	}
	&.lg{
		font-size: 1.5em;
		min-width: 280px;
		//padding: 15px 20px;
	}
	&.btn-grey{
		color: $main-color-02;
		background-color: #d8d8d8;
		&:hover{
			background-color: darken(#d8d8d8, 10);
		}
		&:active{
			background-color: darken(#d8d8d8, 15);
		}
	}
	&.btn-darkgrey {
		background-color: $main-color-02;
		&:hover{
			background-color: darken($main-color-02, 10);
		}
		&:active{
			background-color: darken($main-color-02, 15);
		}
	}
	&.btn-pink{
		color: #fff;
		background-color: $main-color-03;
		&:hover{
			background-color: darken($main-color-03, 10);
		}
		&:active{
			background-color: darken($main-color-03, 15);
		}
	}
}

.btn-onlytext{
	border: 0;
	padding: 10px 0;
	&:hover{
		background: none;
		color: $main-color-01;
	}
}

.btn-more {
    padding: 10px 20px;
    i{
    	margin: 0 10px;
    }
    &:hover{
        color: $main-color-01;
        text-decoration: none;
    }
}

